@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap");

/*:root {
  --brand: #008080;
  --secundary: #FF6F61;
  --text: #333333;
  --body:#c5cec7e8;
  --border: rgba(0,0,0,0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}*/
